@model AgileLizard.Site.Models.SearchViewModel
@using AgileLizard.Business.Dto;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - FBO.gov</title>

    <!-- CSS -->
    <link href="~/Content/css/preload.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/yamm.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap-switch.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/slidebars.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/css/syntaxhighlighter/shCore.css" rel="stylesheet" media="screen">

    <link href="~/Content/css/style-blue2.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/css/width-full.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/css/buttons.css" rel="stylesheet" media="screen">



    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/css/iThing-min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" media="screen">

    <link rel="icon" type="image/png" href="~/favicon.png">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/Content/js/html5shiv.min.js"></script>
        <script src="/Content/js/respond.min.js"></script>
    <![endif]-->

    @RenderSection("head", required: false)
</head>
<!-- Preloader -->
<div id="preloader">
    <div id="status">Fetching Results...</div>
</div>
<body>
    <!--

                *   **   *****
                *  *  *  *
                *  *  *  *
     Welcome    *   **   ***
                *  *  *  *
                *  *  *  *
                *   **   *


     We were expecting you.

         - Built on the FBOpen API
         - Extensible with system-generate facts
         - Automated profile building
         - Enhanced user experience
         - CI deployment via GitHub

     -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58899100-1', 'auto');
        ga('send', 'pageview');

    </script>

    <div id="sb-site">
        <header id="header-full-top" class="hidden-xs header-full-dark">
            <div class="container">
                <div class="header-full-title">
                    <h1 class="animated fadeInRight"><a href="/">FedBizOpps<span>.gov</span></a></h1>
                    <p class="animated fadeInRight">Federal Business Opportunities</p>
                </div>
                <nav class="top-nav">
                    <ul class="top-nav-social hidden-sm">
                        <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-9 instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-8 vine"><i class="fa fa-vine"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-6 flickr"><i class="fa fa-flickr"></i></a></li>
                    </ul>

                    <div class="dropdown animated fadeInDown animation-delay-11">
                        <a href="~/Profile/Edit/803CF004-EFD8-4F5F-B46C-8756C191D4BB" class="dropdown-toggle"><div class="top-nav-login"><i class="fa fa-linkedin"></i></div> &nbsp;Justin Thyme</a>

                    </div> <!-- dropdown -->


                </nav>
            </div> <!-- container -->
        </header> <!-- header-full -->

        <nav class="navbar navbar-static-top navbar-default navbar-header-full hidden" role="navigation" id="header">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="/">FedBizOpps<span>.gov</span></a>
                </div> <!-- navbar-header -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="~/Search" class="dropdown-toggle" data-toggle="dropdown">Opportunities</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Partners</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Similar Opportunities</a>

                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">By Service</a>

                        </li>

                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Guidance</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Select &amp; Subscribe</a>

                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">MORE</a>

                        </li>
                    </ul>
                </div><!-- navbar-collapse -->
            </div><!-- container -->
        </nav>
        @RenderBody()



        <footer id="footer">
            <p>&copy; 2015 <a href="#">ICF International</a>, inc. All rights reserved.</p>
        </footer>
    </div>

    <div id="theme-options">

        <div class="ec-filters-menu">
            <h3 class="section-title no-margin-top">Filters</h3>

            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-plus-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Procurement Type
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.FactRequestTypeList)
                                    {
                                        <li><a href="javascript:void(0);" class="filter" data-filter="@item.FboName">@Html.CheckBoxFor(x => item.IsSelected) @Html.DisplayFor(x => item.FactName)</a></li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div><!-- End panel #1 -->
                <div class="panel panel-primary">
                    <div class="panel-heading panel-plus-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                            Set-Aside Type
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.FactSetAsideList)
                                    {
                                        <li><a href="javascript:void(0);" class="filter" data-filter="@item.FboName">@Html.CheckBoxFor(x => item.IsSelected) @Html.DisplayFor(x => item.FactName)</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div> <!-- End panel #2 -->

            </div>
            <h4>Date Range</h4>
            <div class="row">
                <div id="slider" class="aligncenter"></div>
            </div>

        </div>


        <br />

        <div class="text-center">
            <button type="submit" id="closefilter" class="btn btn-primary sb-close"><i class="glyphicon glyphicon-refresh"></i>Update</button>
        </div>

        <div id="icon-options" class="hidden-xs">
            <i class="fa fa-filter fa-2x fa-flip-horizontal"></i>
        </div>
        <div id="icon-options-xs" class="hidden-md hidden-lg">
            <i class="fa fa-filter fa-2x fa-flip-horizontal"></i>
        </div>

    </div>

    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>
    @Scripts.Render("~/bundles/reason")


    <script src="~/Content/js/slidebars.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jQDateRangeSlider-min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $("#slider").dateRangeSlider({
            bounds: { min: new Date(2014, 0, 1), max: new Date(2015, 0, 31, 12, 59, 59) },
            defaultValues: { min: new Date(2014, 1, 10), max: new Date(2014, 11, 31) },
        });
    </script>


</body>
</html>
