@model AgileLizard.Site.Models.SearchViewModel
@using AgileLizard.Business.Dto;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FBO.gov</title>

    <!-- CSS -->
    <link href="~/Content/css/preload.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/yamm.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap-switch.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/slidebars.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/css/syntaxhighlighter/shCore.css" rel="stylesheet" media="screen">

    <link href="~/Content/css/style-blue2.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <link href="~/Content/css/buttons.css" rel="stylesheet" media="screen">
    <link href="~/Content/Site.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" href="~/favicon.png">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/Content/js/html5shiv.min.js"></script>
        <script src="/Content/js/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<body>
    <div id="theme-options">

        <div>
            <div class="ec-filters-menu">
                <h3 class="section-title no-margin-top">Filters</h3>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Procurement Type
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.FactRequestTypeList)
                                        {
                                            <li><a href="javascript:void(0);" class="filter" data-filter="@item.FboName">@Html.CheckBoxFor(x => item.IsSelected) @Html.DisplayFor(x => item.FactName)</a></li>
                                        }
                                    }

                                </ul>
                            </div>
                        </div>
                    </div><!-- End panel #1 -->
                    <div class="panel panel-primary">
                        <div class="panel-heading panel-plus-link">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                Set-Aside Type
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.FactSetAsideList)
                                        {
                                            <li><a href="javascript:void(0);" class="filter" data-filter="@item.FboName">@Html.CheckBoxFor(x => item.IsSelected) @Html.DisplayFor(x => item.FactName)</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div> <!-- End panel #2 -->

                </div>

                <div>
                    <h4>Date Range</h4>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="has-feedback"></i>@Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "sr-only control-label" })</div>

                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control date-picker" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-xs-5">
                            <div>@Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "sr-only control-label" })</div>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-primary sb-close"><i class="glyphicon glyphicon-refresh"></i> Update</button>
        </div>

        <div id="icon-options" class="hidden-xs">
            <i class="fa fa-filter fa-2x fa-flip-horizontal"></i>
        </div>
        <div id="icon-options-xs" class="hidden-md hidden-lg">
            <i class="fa fa-filter fa-2x fa-flip-horizontal"></i>
        </div>
    </div>
    <div id="sb-site">
        <header id="header-full-top" class="hidden-xs header-full-dark">
            <div class="container">
                <div class="header-full-title">
                    <h1 class="animated fadeInRight"><a href="/">FedBizOpps<span>.gov</span></a></h1>
                    <p class="animated fadeInRight">Federal Business Opportunities</p>
                </div>
                <nav class="top-nav">
                    <ul class="top-nav-social hidden-sm">
                        <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-9 instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-8 vine"><i class="fa fa-vine"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-6 flickr"><i class="fa fa-flickr"></i></a></li>
                    </ul>

                    <div class="dropdown animated fadeInDown animation-delay-11">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                            <form role="form">
                                <h4>Login Form</h4>

                                <div class="form-group">
                                    <div class="input-group login-input">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                    <br>
                                    <div class="input-group login-input">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="checkbox pull-left">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- dropdown -->


                </nav>
            </div> <!-- container -->
        </header> <!-- header-full -->

        <nav class="navbar navbar-static-top navbar-default navbar-header-full" role="navigation" id="header">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="/">FedBizOpps<span>.gov</span></a>
                </div> <!-- navbar-header -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="~/Search" class="dropdown-toggle" data-toggle="dropdown">Opportunities</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Partners</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Similar Opportunities</a>

                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">By Service</a>

                        </li>

                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Guidance</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Select &amp; Subscribe</a>

                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">MORE</a>

                        </li>
                    </ul>
                </div><!-- navbar-collapse -->
            </div><!-- container -->
        </nav>



        @RenderBody()



        <footer id="footer">
            <p>&copy; 2015 <a href="#">ICF International</a>, inc. All rights reserved.</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/reason")
    @RenderSection("scripts", required: false)
</body>
</html>
